body{
    margin-top: 5px;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-family: Poppins;
}

p{
    font-family: Roboto;
}

.navbar-default{
    background: #fff;
    border: 0;
    font-family: Poppins;
}

.navbar-brand{
    font-size: 20px;
    color:#000;
    font-weight: bold;
}

#showcase h1{
    font-size: 50px;
    margin-bottom: 20px;
}

#showcase img{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#showcase .showcase-right{
    margin-top: 20px;
}

#testimonial{
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}
#testimonial p{
    font-size: 32px;
    font-family: 'Josefin Sans';
    color: #000;
}

#testimonial p.customer{
    font-size: 20px;
    font-family: 'Josefin Sans';
    color: #666;
}

#info1 .info-left img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
#info1 .info-left img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#info1 .info-right{
    margin-top: 30px;
}

#info2 .info-left{
    margin-top: 80px;
    margin-left: 40px;
}

#info2 .info-right{
    margin-top: 80px;
    margin-right: 40px;
}

#contact{
    /* background: url(../img/img3.jpg); */
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    color:#666;
    border-top: #333 7px solid;
    border-bottom: #333 7px solid;
}

footer{
    padding:25px;
}
.imgc1{
    box-shadow: 0 4px 8px 0 rgba(68, 179, 227, 0.20);
    transition: 0.3s;
    margin-right: 20px;
    border-radius: 50%;
}
@media screen and (max-width: 600px) {
    h1,h2,h3,h4,h5,h6{
        font-size: 5px;
    }
}